/* Allows to be used in all css classes */
/* can override fixed values in lower classes*/
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

}
.login_body {
    margin: 0px;
    background-color: #27a465;
    color: #f7f7f7;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

/* # is for ID(Unique), . is for Classes(Not unique)*/
#login_main {
    width: 600px;
    height: 260px;
    border-radius: 5px;
    border-top: 3px double #f1f1f1;
    border-bottom: 3px dobule #f1f1f1;
}

#login_main table{
    font-family: "Comic Sans MS", cursive;
}

#login_main .tb {
    height: 28px;
    width: 230px;
    border:1px solid #27a465; 
    color:#27a465;
    font-weight:bold;
    border-left:5px solid #f7f7f7; 
    opacity:0.9;
}

#login_main .btn {
    width: 80px;
    height: 32px;
    outline: none;
    font-weight: bold;
    border: 0px solid #27a465;
    text-shadow: 0px 0.5px 0.5px #fff;
    border-radius: 2px;
    font-weight: 600;
    color: #27a645;
    letter-spacing: 1px;
    font-size: 14px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#login_main .btn:hover {
    background-color: #27a645;
    outline: none;
    border-radius: 2px;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
}
.flex-container {
    /* 
    >>tldr 
        margin > padding 
        justify-content = horizontal, align-items = vertical
    >>FLEXBOX
    display: flex;     <- sets container to be flexible (required)
    flex-direction: ;  <- direction the container wants to STACK the flex items
                       <- column, row, row-reverse, column-reverse
    flex-wrap: ;       <- whether the flex items should wrap or not
                       <- wrap, nowrap, wrap-reverse, 
    flex-flow: ;       <- shorthand for setting both flex-direction and flex-wrap
                       <- row wrap, ...
    justify-content: ; <- used to align the flex items
                       <- center, flex-start, flex-end, space-around, space-between
    align-items: ;     <- used to align the flex items
                       <- center, flex-start, flex-end, stretch, baseline (aligns the middle of a box)
    align-content: ;   <- used to align the flex lines
                       <- space-between, space-around, stretch, center, flex-start, flex-end
    */
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: DodgerBlue;
}
.flex-container > header {
    justify-content: flex-start;
    align-items: flex-start;
}
.secret {
    color: white;
}

.secret2 {
    opacity: 0;
}

html {
    min-height: 100%;
    /*height: 100% "remove no-repeat in background body */
}

body {
    color: black;
    /*background-color: white;*/
    /*background-image: url("test.png");*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    margin: 0;    
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.test  {
    font-size: 75px;
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
}

.test2 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
}

.test3  {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
}




/* custom scrollbar on right side*/
body::-webkit-scrollbar {
    width: 0.25rem;
}
/*background of track*/
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
/*changing actual thumb of track*/
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    /* rem is relative to font size in root ( 5rem * 16px = 80px)*/
    margin-left: 5rem;
    padding: 1rem;
    /*allows no interference with nav bar left side*/
}

.navbar {
    /*
    width: 5rem; /*matches main
    height: 100vh; /*vh relative to viewport, 100% of height, reacts to size of browser
    commented due to media queries*/
    position: fixed; /*content fixed no matter sizing of window*/
    background-color: var(--bg-primary);
    transition: width 600ms ease; /*transition on navbar*/
}

/*use flexbox to center items in navbar*/
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

/*put last item at bottom of navbar*/
.nav-item:last-child {
    margin-top: auto;
}

/*y axis row */
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7); /*sets color before hover*/
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1); /*shows color when hover on*/
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

/*no text in imgs*/
.link-text {
    display: none;
    margin-left: 1rem;
}

/*margins for imgs*/
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/*opens bar to the side when hovering*/
.navbar:hover {
    width: 16rem;
}
/*displays text in hover bar*/
.navbar:hover .link-text {
    display: block;
}

 /* to change color when hovering
 fa-primary..
 ..
 */

 /* top logo */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(-180deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(0deg);
}

/*media query*/
/*small screens*/
/*makes navbar move to the bottom horizontal*/
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }



    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/*large screens*/
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    
    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }


}
