/* Allows to be used in all css classes */
/* can override fixed values in lower classes*/
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

}

.secret {
    color: white;
}

.secret2 {
    color: white;
}

body {
    color: black;
    background-color: white;
    margin: 0;    
    padding: 0;
}

/* custom scrollbar on right side*/
body::-webkit-scrollbar {
    width: 0.25rem;
}
/*background of track*/
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
/*changing actual thumb of track*/
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    /* rem is relative to font size in root ( 5rem * 16px = 80px)*/
    margin-left: 5rem;
    padding: 1rem;
    /*allows no interference with nav bar left side*/
}

.navbar {
    /*
    width: 5rem; /*matches main
    height: 100vh; /*vh relative to viewport, 100% of height, reacts to size of browser
    commented due to media queries*/
    position: fixed; /*content fixed no matter sizing of window*/
    background-color: var(--bg-primary);
    transition: width 600ms ease; /*transition on navbar*/
}

/*use flexbox to center items in navbar*/
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

/*put last item at bottom of navbar*/
.nav-item:last-child {
    margin-top: auto;
}

/*y axis row */
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7); /*sets color before hover*/
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1); /*shows color when hover on*/
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

/*no text in imgs*/
.link-text {
    display: none;
    margin-left: 1rem;
}

/*margins for imgs*/
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/*opens bar to the side when hovering*/
.navbar:hover {
    width: 16rem;
}
/*displays text in hover bar*/
.navbar:hover .link-text {
    display: block;
}

 /* to change color when hovering
 fa-primary..
 ..
 */

 /* top logo */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(-180deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(0deg);
}

/*media query*/
/*small screens*/
/*makes navbar move to the bottom horizontal*/
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }



    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/*large screens*/
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    
    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }


}
